<table class="table table-responsive">
  <thead>
    <tr>
      <th>File</th>
      <th class="text-right">Size</th>
      <th class="text-right">Peers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td class="path_column"><a [routerLink]="['/torrent', row.info_hash]" tooltip="Torrent: {{getTorrentName(row.path)}}">{{getFileName(row.path)}}</a></td>
      <td align="right"><pre>{{row.size_bytes | fileSize: true}}</pre></td>
      <td align="right" [ngClass]="row.peers | peerHealth">{{row.peers}}</td>
      <td align="right">
        <a tooltip="Magnet link" [href]="sanitizer.bypassSecurityTrustUrl(generateMagnetLink(row.info_hash, row.path, row.index_))" title="Magnet link"><i class="fa fa-fw fa-magnet text-danger"></i></a>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="rows?.length == 0 && !loading">
    <tr>
      <td>No results found</td>
    </tr>
  </tbody>
  <tbody *ngIf="loading">
    <tr>
      <td><i class="fa fa-circle-o-notch fa-spin fa-5x fa-center"></i></td>
    </tr>
  </tbody>
</table>
<pagination class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="limit" [maxSize]="maxPaginators" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable($event)" (numPages)="numPages = $event">
</pagination>
<div>Indexing 73k torrents, 23M files</div>
