<nav class="navbar navbar-full">
  <button (click)="toggleCollapseNavbar()" class="btn btn-sm btn-secondary hidden-md-up"
    type="button">&#9776;</button>
  <div [class.collapse]="collapseNavbar" class="collapse navbar-toggleable-sm">
    <div>
      <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-fw fa-archive"></i>&nbsp;TorShare</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input [ngModel]="searchTerm" (ngModelChange)="newSearch($event)"
                  name="search" type="text" class="form-control"
                  placeholder="Search for...">
                <span class="input-group-btn">
                  <button (click)="search()" class="btn btn-secondary" type="submit">
                    <i class="fa" [class.fa-search]="!loading" [class.fa-circle-o-notch]="loading" [class.fa-spin]="loading"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" [routerLink]="['/upload']">Upload torrents</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" [routerLink]="['/export']">API/Export</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/dessalines/torshare"
            target="_blank">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
