<nav class="navbar navbar-toggleable-sm">
  <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-fw fa-archive"></i>&nbsp;TorShare</a>
  <button (click)="toggleCollapseNavbar()" class="navbar-toggler navbar-toggler-right" type="button">
    <button class="btn btn-sm btn-secondary">&#9776;</button>
  </button>
  <div [class.collapse]="collapseNavbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input [ngModel]="searchTerm" (ngModelChange)="newSearch($event)"
                  name="search" type="text" class="form-control"
                  placeholder="Search for...">
                <span class="input-group-btn">
                  <button (click)="search()" class="btn btn-secondary" type="submit">
                    <i class="fa" [ngClass]="{'fa-spin fa-circle-o-notch': loading, 'fa-search': !loading }"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" [routerLink]="['/upload']">Upload torrents</a>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link" [routerLink]="['/api']">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/dessalines/torshare"
            target="_blank">About</a>
        </li>
      </ul>
    </div>
</nav>
<br>
