<div class="col-md-12">
  <hr class="my-2">
  <footer>
    <p class="float-right"><a href="#">back to home</a>
    </p>
    <p>© 2016 TorShare, Inc. · <a href="https://github.com/dessalines/torshare"
        target="_blank">about</a> · <a href="https://github.com/dessalines/torshare"
        target="_blank">contact</a> · <a href="https://github.com/dessalines/torshare"
        target="_blank">support</a> · <a href="https://github.com/dessalines/torshare"
        target="_blank">github</a> · <a href="https://www.reddit.com/r/torshare/">subreddit</a>
      <br>
    </p>
  </footer>
</div>
