<div *ngIf="d">
  <h3 class="wrap">{{d.name}}</h3>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <span class="text-success"><i class="fa fa-fw fa-arrow-up"></i>Seeders: {{d.seeders}}</span>
      <span class="text-danger"><i class="fa fa-fw fa-arrow-down"></i>Peers: {{d.peers}}</span>
    </div>
    <div class="col-sm-4 text-right">
      <a [href]="sanitizer.bypassSecurityTrustUrl(d.magnetLink)" tooltip="Magnet link" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-magnet"></i></a>
      <a download [href]="sanitizer.bypassSecurityTrustUrl(getDownloadLink(d.infoHash))" tooltip="Download .torrent" container="body" class="btn btn-secondary btn-sm"><i class="fa fa-fw fa-download"></i></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-outline-secondary mb-3">
        <div class="card-block">
          <h4 class="card-title">Details</h4>
          <div class="row">
            <div class="col-md-6">
              <p class="wrap"><b>Info Hash:</b> {{d.infoHash}}</p>
              <p><b>Creation date:</b> {{d.creationDate | moment}} ago</p>
            </div>
            <div class="col-md-6">
              <p><b>Total Size:</b> {{d.sizeBytes | fileSize: true}}
              </p>
              <p><b># of Files:</b> {{d.files.length}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th>File Path</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of d.files">
            <td class="path_column">{{file.path}}</td>
            <td>{{file.sizeBytes | fileSize: true}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
